.dialogView
{
    @apply absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex gap-3 items-start z-30;
}

.filterSelectionBox
{
    @apply p-3 border-4 border-double border-gray-500 bg-gray-300 flex flex-col items-center gap-6;
}

.selectionBoxTitle
{
    @apply text-xl text-blue-800;
}

.filtersList
{
    @apply p-2 flex flex-col items-center gap-2;
}

.filterItem
{
    @apply flex flex-col gap-1 items-center;
}

.filterName
{
    @apply text-lg text-black hover:text-blue-400 hover:underline border-2 border-transparent px-2;
}

.filterInputBox
{
    @apply bg-slate-100 border-2 border-slate-800;
}

.selectBox
{
    @apply h-full px-3 py-2;
}

.buttonsGroup
{
    @apply w-full flex items-center justify-center gap-5;
}

.buttonsInGroup
{
    @apply  p-1 border-2 border-black hover:border-blue-400 text-black hover:text-blue-400 bg-stone-400 hover:bg-white text-base rounded-md; 
}