@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    @apply h-screen overflow-hidden select-none;
}

/* Larghezza della scrollbar */
::-webkit-scrollbar 
{
    width: 6px;
    background-color: transparent;
}
  
/* Proprietà del binario */
::-webkit-scrollbar-track 
{
    background: lightgray;
    border-radius: 2px;
}
   
/* Proprietà della barra mobile */
::-webkit-scrollbar-thumb 
{
    background: darkgray; 
    border-radius: 5px;
}
  
.active
{
    @apply border-b-2 border-b-blue-400 text-blue-400 hover:text-blue-400 cursor-default;
}

#collectionVerticalNav
{
    @apply h-full w-[7%] border-2 border-green-700;
}

#collectionFiltersAndControls
{
    @apply h-full w-[13%] px-3 flex flex-col justify-between;
}

#controls
{
    @apply w-full h-[50%] p-1 flex flex-col items-center justify-start gap-3 border-2 border-zinc-600 bg-zinc-400 rounded-md;
}

#controls > div
{
    @apply w-[95%] bg-stone-200 border-stone-300 p-2 border-2 rounded-md;
}

#collectionSlider
{
    @apply h-full w-[80%] border-2 border-yellow-400;
}

#filters
{
    @apply w-full max-h-[45%] py-1 border-2 border-zinc-600 bg-zinc-400 rounded-md flex flex-col items-center justify-between gap-3;
}

#filtersBox
{
    @apply w-[95%] grow px-1 py-2 bg-stone-200 border-2 border-stone-800 flex flex-col items-center justify-between gap-4 overflow-y-auto;
}